/********** Navbar CSS **********/
:root {
  --primary: #86B817;
  --secondary: #85b817e7;
  --light: #F5F5F5;
  --dark: #14141F;
}

.navbar {
  /* background-image: url("http://localhost:8080/meetu/images/userPics/home1.jpeg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar-brand h1.text-primary {
  color: var(--primary) !important;
}

h1 .text-primary {
  color: var(--primary) !important;
}

.fw-medium {
  font-weight: 600 !important;
}

.fw-semi-bold {
  font-weight: 700 !important;
}

/*** Button ***/
.btn {
  font-weight: 600;
  transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: #FFFFFF;
}

/* 添加悬停效果 */
.btn.btn-primary:hover,
.btn.btn-secondary:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
  font-family: 'Nunito', sans-serif;
  position: relative;
  margin-right: 25px;
  padding: 25px 0;
  color: #2C3E50  !important;
  font-size: 18px;
  font-weight: 600;
  outline: none;
  transition: .5s;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary) !important;
}

.navbar-light .navbar-brand img {
  max-height: 60px;
  transition: .5s;
}

h1, h2, h3 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  /* color: #2C3E50; */
}

@media (max-width: 991.98px) {
  .navbar-light.fixed-top {
      position: fixed;
      background: #FFFFFF;
  } 
  
  body {
    padding-top: 75px; /* 在小屏幕上調整 */
}

  .navbar-light .navbar-collapse {
      margin-top: 15px;
      border-top: 1px solid #DDDDDD;
  }

  .navbar-light .navbar-nav .nav-link,
  .sticky-top.navbar-light .navbar-nav .nav-link {
      padding: 10px 0;
      margin-left: 0;
      color: var(--dark) !important;
  }

  .navbar-light .navbar-brand img {
      max-height: 45px;
  }
}

@media (min-width: 992px) {
  .navbar-light {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      border-bottom: 1px solid rgba(256, 256, 256, .1);
      z-index: 999;
  }

  .navbar-light .navbar-nav .nav-link::before {
      position: absolute;
      content: "";
      width: 0;
      height: 2px;
      bottom: 15px;
      left: 50%;
      background: var(--primary);
      transition: .5s;
  }

  .navbar-light .navbar-nav .nav-link:hover::before,
  .navbar-light .navbar-nav .nav-link.active::before {
      width: calc(100% - 2px);
      left: 1px;
  }
}

