<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>編輯活動</title>
</head>
<body>
	<div th:replace="~{layout/navbar}"></div>
	<h1>編輯活動</h1>

	<form th:action="@{/activities/updatePost}" th:object="${activities}" method="post" enctype="multipart/form-data">
	
		<input name="activitiesId" type="hidden" th:field="*{activitiesId}" />
		
		<div>
			<label>活動類型:</label>
			<select name="activitiesType" th:field="*{activitiesType}" required>
				<option value="I" th:selected="${activities.activitiesType == 'I'}">室内</option>
				<option value="O" th:selected="${activities.activitiesType == 'O'}">戶外</option>
				<option value="M" th:selected="${activities.activitiesType == 'M'}">混合</option>
			</select>
		</div>
		<br>

		活動圖片: <input name="activitiesPics" type="file" th:field="*{activitiesPics}"  /> 
		<div>
                <img th:src="@{/photos/download(id=${activities.activitiesId})}" alt="目前圖片" style="max-width: 300px;">
            </div>
		<br>
		
		活動名稱: <input name="activitiesTitle" th:field="*{activitiesTitle}" required /> 
		<br>
		
		活動開始時間: <input name="activitiesStartDate" type="datetime-local" th:field="*{activitiesStartDate}" required /> 
		<br>
		活動結束時間: <input name="activitiesEndDate" type="datetime-local" th:field="*{activitiesEndDate}" required />
		<br>
		
		活動地點: <input name="activitiesLocation" th:field="*{activitiesLocation}" required /> 
		<br>
		
		最後報名審核時間: <input name="activitiesVerifyDate" type="datetime-local" th:field="*{activitiesVerifyDate}"
			required /> 
		<br>
		
		活動文字簡介:
		<textarea name="activitiesContent" th:field="*{activitiesContent}" required></textarea>
		<br>


			<label>分攤選項:</label>
			<select name="activitiesSharing" th:field="*{activitiesSharing}" required>
				<option value="I" th:selected="${activities.activitiesSharing == 'I'}">我請客</option>
				<option value="Y" th:selected="${activities.activitiesSharing == 'Y'}">你付錢</option>
				<option value="S" th:selected="${activities.activitiesSharing == 'S'}">各付各</option>
			</select>
		<br>
		
		活動金額: <input name="activitiesAmt" type="number" th:field="*{activitiesAmt}" required /> 
		<br>
		
		聚會人數上限: <input name="activitiesMaxPeo" type="number" th:field="*{activitiesMaxPeo}" required /> 
		<br>
		
		<!--         活動標籤ID: <input name="activitiesTagId"  required /> -->
		<!--         <br > -->
		
		<input type="submit" value="送出" />
	</form>

	<div th:text="${okMsg}"></div>
</body>
</html>
